body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(215, 215, 215);
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

#instafeed, #mixedfeed, #facebookfeed {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.instapic_wrapper, .facebook_wrapper {
    width: calc((100% / 4) - 30px);
    margin: 15px;
    display: flex;
    align-items: : center;
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 0px 5px rgb(0, 0, 0, .2);
    padding: 20px;
    box-sizing: border-box;
}

.instapic_wrapper p {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}

.instapic {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}


.facebook_wrapper p {
    vertical-align: middle;
    padding-left:20px;
}

.facebook_wrapper img {
    max-width: 200px;
}

.facebook_wrapper small {
    position: absolute;
    bottom: 5px;
    width: 200px;
    right: 5px;

}

.facebook {
    background-color: rgb(111, 122, 235);
    color: white;
}

.twitter {
    background-color: rgb(61, 215, 232);
}

.instagram {
    background-color: rgb(220, 110, 227);   
}

/* .facebook_wrapper::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: '';
} */

/* .facebook::before {
    content: 'facebook';
}
.instagram::before {
    content: 'instagram';
}
.twitter::before {
    content: 'twitter';
} */
