html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#canvas {
    height: 100%;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
}

.socialBubble {
    position: fixed;
    background: rgb(19, 96, 167);
    border-radius: 50%;
    transition: .5s;
}

.socialBubble:hover{
    transform: scale(1.5);
}

.node circle {
  cursor: pointer;
  stroke: #ffffff;
  fill: #324aa3;
  stroke-width: 1.5px;
}

.node .posts {

}

.node text, .post text {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
  fill: white;
  width: 200px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

#chart {
    height: 100%;
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.postblock {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(76, 124, 168, .5);
    position: absolute;
    padding: 10px;
}

#facepoint {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 1000;
}

#_imageData {
  /* filter: grayscale(100%); */
}
