html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#canvas {
    height: 100%;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
}

.socialBubble {
    position: absolute;
    background: rgb(19, 96, 167);
    border-radius: 50%;
    transition: .5s;
}

.socialBubble:hover{
    transform: scale(1.5);
}
